$def with (todos, f)

<table>
	<tr>
		<th>What to do for:</th>
		<th></th>
	</tr>
$for todo in todos:	
	<tr>
	<td>$todo.name</td>
	<td>$todo.title</td>
	<td>
		<form action="/del/$todo.id" method="post">
			<input type="submit" value="delete"/>
		</form>
		
	</td>
	</tr>
</table>


<form name="main" method="POST" class="task">

$:f.render()

</form>

